* {
    padding: 0;
    margin: 0;   
}

 @font-face {
    font-family: 'lemon';
    src: url('fonts/19572.ttf');
    font-weight: normal;
    font-style: normal;
 }

body {
    background-image: url(pic/Group\ 47.png);
}
.content {
    transition: 0.5s;
    position: relative;
    z-index: 0;
  }
.menu {
    display: flex;
    background: black;
    width: 100%;
    z-index: 99;
    position: fixed;
}
.pravo {
    display: flex;
    justify-content: right;
    width: 100%;
}
.primary-nav-trigger {
    display: inline-block;
    margin: auto 0px;
}
.profile {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 146px;
    margin-left: 73px;
}
.logo {
    display: inline-block;
    margin-top: 13px;
    margin-bottom: 6px;
    margin-left: 122px;
}


.primary-nav {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 150px 0 0;
    background: rgba(0, 0, 0, 0.96);
    text-align: center;
    backface-visibility: hidden;
    overflow: auto;
    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: 0.4s;
}

.primary-nav li {
    font-weight: 300;
    margin: .2em 0;
    font-size: 30px;
    text-transform: capitalize;
}

.primary-nav.is-visible {
    transform: translateY(0);
}

.primary-nav a {
    text-transform: uppercase;
    display: inline-block;
    padding: 20px 1em;
    border-radius: 0.25em;
    transition: background 0.2s;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

.primary-nav a:hover {
    background-color: #5700F7;
}


.ikonki {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.kvadrat {
    display: inline-block;
    margin: 20px 50px;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 130px;
}
.kvadrat>.ikon>img {
    margin: 0px 40%;
}
.ikon {
    margin: auto;
    align-items: center;
    justify-content: center;
}

.text {
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.text>p {
    font-family: 'lemon';
    margin: 1% 2%;
    font-size: 14px;
}
.orange {
    font-family: 'lemon';
    color: #FF7A00;
}

.kartochki {
    width: 100%;
    height: 475px;
    text-align: center;
}
.kartochki>h2 {
    font-size: 24px;
    margin: 0px auto;
    margin-top: 80px;
    margin-bottom: 46px;
    font-family: 'lemon';
    color: #FF7A00;
}
.boxes {
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    height: 500px;
}
.box {
    display: inline-block;
    width: 266px;
    height: 399px;
    margin:0px auto;
    background: url(pic/loft-game-bar-room-steel-artema-3-5c573024ce18f\ 1.png);
}
.box>p {
    color: white;
    font-size: 24px;
    font-family: 'lemon';
    margin: 0px auto;
    margin-top: 155px;
    margin-bottom: 109px;
}
.box>.button {
    color: white;
    background-color: #FF7A00;
    border-radius: 20px;
    margin: 0px auto;
    font-family: 'lemon';
    font-size: 12px;
    padding: 7px;
    text-decoration: none;
}

.box1 {
    width: 266px;
    height: 399px;
    margin:0px auto;
    background: url(pic/Sony-PlayStation-5-PS5-0\ 1.png);
}
.box1>p {
    color: white;
    font-size: 24px;
    font-family: 'lemon';
    margin: 0px auto;
    margin-top: 155px;
    margin-bottom: 109px;
}
.box1>.button {
    color: white;
    background-color: #FF7A00;
    border-radius: 20px;
    margin: 0px auto;
    font-family: 'lemon';
    font-size: 12px;
    padding: 7px;
    text-decoration: none;
}

.box2 {
    width: 266px;
    height: 399px;
    margin:0px auto;
    background: url(pic/original\ 1.png);
}
.box2>p {
    color: white;
    font-size: 24px;
    font-family: 'lemon';
    margin: 0px auto;
    margin-top: 121px;
    margin-bottom: 109px;
}
.box2>.button {
    color: white;
    background-color: #FF7A00;
    border-radius: 20px;
    margin: 0px auto;
    font-family: 'lemon';
    font-size: 12px;
    padding: 7px;
    text-decoration: none;
}

.box3 {
    width: 266px;
    height: 399px;
    margin:0px auto;
    background: url(pic/eb52fa2cb4c01a4440bacb4eddf23e11\ 1.png);
}
.box3>p {
    color: white;
    font-size: 24px;
    font-family: 'lemon';
    margin: 0px auto;
    margin-top: 155px;
    margin-bottom: 109px;
}
.box3>.button {
    color: white;
    background-color: #FF7A00;
    border-radius: 20px;
    margin: 0px auto;
    font-family: 'lemon';
    font-size: 12px;
    padding: 7px;
    text-decoration: none;
}

.aksii {
    text-align: center;
}
.aksii>h2 {
    font-size: 24px;
    margin: 0px auto;
    margin-top: 96px;
    font-family: 'lemon';
    color: #FF7A00;
}
.aksii>p {
    font-size: 16px;
    margin: 0px auto;
    margin-top: 11px;
    margin-bottom: 46px;
    font-family: 'lemon';
    color: black;
}
.block {
    display:block;
    align-items: center;
}
.beleberda {
    margin: auto;
    width: 954px;
    background: black;
    border-radius: 25px;
    border: 2px solid #FF7A00;
    display: flex;
    margin-bottom: 34px;
}
.beleberda>.text {
    display: inline;
    justify-content: left;
    margin: 0%;
}
.beleberda>.text>h2 {
    color: #FF7A00;
    font-size: 20px;
    font-family: 'lemon';
    text-align: left;
    margin-left: 44px;
    margin-top: 22px;
    margin-bottom: 14px;
}
.beleberda>.text>p {
    color: white;
    font-size: 12px;
    font-family: 'lemon';
    text-align: left;
    margin-left: 44px;
    margin-bottom: 30px;
}
.beleberda>.text>a {
    color: black;
    font-size: 16px;
    font-family: 'lemon';
    text-align: center;
    text-decoration: none;
    background: #FF7A00;
    border-radius: 20px;
    padding: 14px 53px ; 
}
.two>.text>p {
    margin-bottom: 45px;
}
.three>.text>p {
    margin-bottom: 60px;
}

.kalian {
    text-align: center;
}
.kalian>h2 {
    font-size: 24px;
    margin: 0px auto;
    margin-top: 96px;
    font-family: 'lemon';
    color: #FF7A00;
}
.kalian>p {
    font-size: 16px;
    margin: 0px auto;
    margin-top: 11px;
    margin-bottom: 46px;
    font-family: 'lemon';
    color: black;
}


.rools {
    text-align: center;
}
.rools>h2 {
    font-size: 24px;
    margin: 0px auto;
    margin-top: 96px;
    font-family: 'lemon';
    color: #FF7A00;
}
.pravila {
    background: url(pic/Group\ 48\ \(1\).png);
    width: 1196px;
    margin: 30px auto;
    height: 514px;
    font-family: 'lemon';
}
.pravila>h2 {
    font-size: 24px;
    padding-top: 36px ;
    margin: 0px auto;
    color: #FF7A00;
}
.pravila>p {
    margin-top: 32px ;
    margin-left: 121px;
    margin-right: 151px;
    font-size: 14px;
    color: white;
    text-align: left;
}
 

.contacts {
    text-align: center;
}
.contacts>h2 {
    font-size: 24px;
    margin: 0px auto;
    margin-top: 96px;
    font-family: 'lemon';
    color: #FF7A00;
}
.bachira {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.contact {
    background: black;
    width: 588px;
    Height: 429px;
    display: flex;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #FF7A00 ;
    text-align: left;
}
.kartinka>img {
    border-radius: 5px;
}
.nadpisi>img {
    margin-top: 25px;
    margin-left: 52px;
    text-align: left;
}
.nadpisi>p {
    font-size: 14px;
    font-family: 'lemon';
    margin-left: 52px;
    margin-right: 36px;
    color: white;
}
.kostil>.ikon {
    margin-right: 12px;
}
.kostil {
    margin-top: 113px;
    margin-left: 52px;
}


.podval {
    margin-top: 300px;
    background: black;
    text-align: center;
    align-items: center;
    height: 500px;
}
.podval>.logotip {
    margin-top: 13px;
}
.podvalchik {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 5%;
}
.podvalchik>.menushka {
    color: white;
    font-size: 12px;
    font-family: 'lemon';
    margin: 0 auto;
}
.menushka>p {
    margin: 7,5px auto;
} 
.podvalchik>.adres {
    color: white;
    font-size: 12px;
    font-family: 'lemon';
    margin: 0 auto;
    text-align: left;
    justify-content: left;
    align-items: left;
}
.adres>p {
    text-align: left;
    margin: 2.5px auto;
} 
.adres>.kostil {
    margin-top: 35px;
    margin-left: 0;
    align-items: left;
    justify-content: left;
}
